<div class="login">
    <div class="header">
        <h2 class="title">GitHub Repositories</h2>
        <p class="subtitle">Sign in to your dashboard</p>
    </div>
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="form-login">
        <mat-form-field class="block-input">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" minlength="3" maxlength="20" required />
        </mat-form-field>
        <mat-form-field class="block-input">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" minlength="3" maxlength="20" required />
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>