/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #0b0f19;
    color: #b1ceec;
}

button {
    cursor: pointer;
}

.block-input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 10px;
}